




#top {
    background: black;
    color:  white;
    
    position:   relative;
}

#gameArea {
    position:   relative;
}

#scoreArea, #scoreAreaParent {
    position:   absolute;
    color: white;   
}

#scoreAreaParent {
    background: black;
}

#bottom {
    position: absolute;


}