

image {
    position: absolute;
}


#top {
    background: black;
    color:  white;
    
    position:   relative;
}

#gameArea {
    position:   relative;
}

#scoreArea {
    position:   relative;
    background: black;
    color: white;   
}
@keyframes bgScrollLeft {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -120px 0;
    }
  }